@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
	--white: #fffcff;
	--purple: #443742;
	--brown: #c3b299;
	--green: #cbd4c2;
	--blue: #247ba0;
	--darkbrown: #998b75;
	--darkblue: #175874;
}

* {
	font-family: "Chakra Petch", sans-serif;
	margin: 0px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--white);
	margin: 0px;
	padding: 0px;
	color: black;
	transition-duration: 0.3s;
}

.calculator {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1.5fr repeat(5, 1fr);
	gap: 3px;
	min-height: 300px;
	text-align: right;
	background-color: var(--purple);
	border: solid 5px var(--purple);
	border-radius: 15px;
	margin-top: 20px;
	padding: 15px;
	transition-duration: 0.3s;
	margin-inline: 50px;
	width: 200px;
}

h1 {
	margin-top: 10px;
	font-size: 2rem;
	transition-duration: 0.3s;
}

p {
	margin: 0px;
	transition-duration: 0.3s;
	font-size: 0.8rem;
}

h2 {
	grid-row-start: 1;
	grid-column-start: 1;
	grid-column-end: 5;

	font-size: 3rem;
	font-weight: 300;
	border-radius: 5px;
	transition-duration: 0.3s;
	overflow-x: scroll;

}

button {
	background-color: var(--brown);
	border-style: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: x-large;
	font-weight: 200;
	color: black;
	padding: 0px;
}

.number:active {
	background-color: var(--darkbrown);
}

.operator {
	background-color: var(--green);
}

.operator:active {
	background-color: var(--blue);
}

.addition {
	grid-column-start: 1;
	grid-row-start: 2;
}

.subtraction {
	grid-column-start: 2;
	grid-row-start: 2;
}

.multiplication {
	grid-column-start: 3;
	grid-row-start: 2;
}

.division {
	grid-column-start: 4;
	grid-row-start: 2;
}

.clear {
	grid-column-start: 3;
	grid-row-start: 6;
}

.clear:active,
.decimal:active {
	background-color: var(--darkbrown);
}

.equal {
	background-color: var(--blue);
	grid-column-start: 4;
	grid-row-start: 3;
	grid-row-end: 7;
}

.equal:active {
	background-color: var(--darkblue);
}

.active {
	background-color: var(--blue);
}

@media (min-width: 300px) {
	.calculator{
		border: 10px solid var(--purple);
		width: 15rem;
		aspect-ratio: 2/3;

	}
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 3rem;
	}
	p {
		font-size: 1rem;
	}
	button {
		font-size: xx-large;
	}
}

@media (min-width: 500px) {
	.calculator{
		width: 20rem;
		aspect-ratio: 2/3;
	}
	button{
		font-size: 2.5rem;
	}
	h2{
		font-size: 4rem;
	}
}